<h1>Cập nhật</h1>

<form action="/update" method="post">
  ID: <input type="text" name="id" value="<%= classS.id %>"> <br>
  Name: <input type="text" name="name" value="<%= classS.name %>"> <br>
  Class B: <input type="text" name="class_b" value="<%= classS.class_b %>"> <br>
  <button type="submit">Cập nhật</button>
</form>