<h1>Thêm lớp</h1>

<form action="/create" method="post">
  Name: <input type="text" name="name" placeholder="">
  Class B: <input type="text" name="class_b" placeholder="">
  Name: <input type="text" name="name" placeholder="">
  Class B: <input type="text" name="class_b" placeholder="">
  Name: <input type="text" name="name" placeholder="">
  Class B: <input type="text" name="class_b" placeholder="">
  Name: <input type="text" name="name" placeholder="">
  Class B: <input type="text" name="class_b" placeholder="">
  Name: <input type="text" name="name" placeholder="">
  Class B: <input type="text" name="class_b" placeholder="">
  Name: <input type="text" name="name" placeholder="">
  Class B: <input type="text" name="class_b" placeholder="">
  Name: <input type="text" name="name" placeholder="">
  Class B: <input type="text" name="class_b" placeholder="">
  Name: <input type="text" name="name" placeholder="">
  Class B: <input type="text" name="class_b" placeholder="">
  <button type="submit">Thêm lớp</button>
</form>